<html xmlns="http://www.w3.org/1999/xhtml" ng-app="StockWatch">
<!-- #safeprojectname# (# = $) will be replaced with project name using this template -->
<head>
    <title></title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/angular/core")
    @Scripts.Render("~/angular/app")
</head>
<body class="container-fluid">

    <ng-view></ng-view>

</body>
</html>
